
*{
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;

}

body{
    margin:0 auto; 
    max-width: 1280px;
}
.header {
    width: 1200px;
    padding: 30px 40px 30px;
    background: #FFFFFF;
    position: fixed;
    z-index: 2;
    height: 120px;
    
    
}
.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   
}
.header__logo a{
    text-decoration: none;

}
.header__logo-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 32px;
    line-height: 110%;
    font-weight: 400;
    color: #545454;
    letter-spacing: 0.06em;
    

}
.header__logo-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-top: 10px;
    color:#292929;
}
.header__nav {
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.header__nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin: 0px 0px 0px 35px;
    color: #545454;
    text-decoration: none; 
}

.header__nav-link:hover {
    color:  #acacac;
    transition: 0.5s;
}
.header__nav-link:visited {
    color: #545454;
}
#active-link{
    border-bottom: 3px solid #F1CDB3;
}
.pets__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6 ;
}
.pets__title {
    width: 400px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 200px;
}
.pets__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    margin-top: 45px;
    cursor: pointer;
    
}
.pets__card-item:hover {
    transform: scale(1.05);
    box-shadow: 0 18px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
.pets__card-item:hover button {
    background: #FDDCC4;

}
.pets__card-item {
    position: relative;
    height: 435px;
    margin-top: 15px;
    border-radius: 9px;

}
.pets__card-item-img {
    border-radius: 9px 9px 0px 0px ;
}

.pets__card-item-title {
    position: relative;
    top: 25px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
}

.pets__card-item-btn {
    position: relative;
    background: none;
    left: 41.5px;
    top: 40px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: 10px 0px;
    cursor: pointer;
}
.pets__content-btn {
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 55px;
    padding-bottom: 100px;
}

.nav-btn-active {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
}
.nav-btn-r {
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #CDCDCD;
    letter-spacing: 0.06em;
    background: none;
}
.nav-btn-l {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #292929;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.nav-btn-l:hover {
    background: #F1CDB3;
    color:  #292929;
    border:  2px solid #F1CDB3;
}

.nav-btn-r:disabled{
    border: 2px solid #CDCDCD;
     box-sizing: border-box;
    color: #CDCDCD; 
}


.footer__content {
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    gap: 160px;
    padding: 40px;
    padding-bottom: 0px;
    background: url(../../assets/img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
    
}
.connection {
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 16px;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
.connection__title {
    
    color: #FFFFFF;
    text-decoration: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}
.connection__link a{
    color: #F1CDB3;
    text-decoration: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.email, 
.phone,
.address {
    display: flex;
    gap: 20px;
    align-items: center;
}

.location {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 33px;
    min-width: 302px;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.location__title {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.location__link  a{
    color: #F1CDB3;
    text-decoration: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    
}

